{% extends 'blog/base.html' %}

{% block page_content %}
<div class="container my-5">
    <small class="my-5">
        {{ post.created_on.date }} | Categories:
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>
        {% endfor %}
    </small>
    <br>
    <img src="/media/{{post.image}}" class="img-fluid" alt="...">
    <p>{{ post.body | linebreaks }}</p>

    <h3>Leave a comment:</h3>
    <form method="post" class="form col-sm-12 col-lg-5 mb-4">
        {% csrf_token %}
        <!-- csrf_token provides security and renders the body and author fields of 
                the form, followed by a submit button.
            -->
        <div class="mb-4">
            {{ form.author }}
        
        </div>
        
        <div class="mb-4">
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-outline-primary  w-25 mx"> send </button>
    </form>

    <h3>Comments:</h3>

    {% for comment in comments %}
    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"> On {{ comment.created_on.date }} <b>{{ comment.author }}</b> wrote:
            <p class="card-text">{{ comment.body | linebreaks }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock page_content %}