{% extends 'blog/base.html' %}

{% load static %}



{% block page_content %}
<div class="container d-flex flex-column justify-content-center align-items-center my-5">
  <div class="text-center">
    <h1>Contact <span class="text-primary"> us </span></h1>
    <hr class="w-25 m-auto " />
  </div>

  {% if messages %}
  <div class="alert alert-success" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
  </div>
  {% endif %}

  <form method="post" action="{% url 'contact' %}" class="form col-sm-12 col-lg-5 mb-4">
    {% csrf_token %}

    <div class="mb-4">
      <label for="id_full_name" class="form-label">Name</label>
      <input type="text" name="full_name" class="form-control" id="id_full_name" placeholder="Full Name" required>
    </div>

    <div class="mb-4">
      <label for="id_email" class="form-label">Phone Number</label>
      <input type="text" name="phone_number" class="form-control" id="id_phone_number" placeholder="Your Phone Number"
        required>
    </div>

    <div class="mb-4">
      <label for="id_message" class="form-label">Message</label>
      <textarea name="message" class="form-control" id="id_message" rows="4" placeholder="Your Message"
        required></textarea>
    </div>

    <button type="submit" class="btn btn-outline-primary w-25 mx">Send</button>
  </form>
</div>


{% endblock page_content %}