{% extends 'blog/base.html' %}

{% load static %}

{% block page_title %}

{% endblock page_title %}

{% block page_content %}

<!-- gallery  start-->
<section class="gallery my-5 h-100" id="/gallery">
    <div class="container-fluid">
        <div class="text-center my-5">
            <h1 data-aos="fade-up" data-aos-offset="200">School <span class="text-primary">Gallery</span></h1>
            <hr class="w-25 m-auto" />
        </div>
        <!-- Gallery -->
        <div class="row mb-4">
            <div class="col-lg-4  mb-4 mb-lg-0">
                <img src="{% static 'images/gallery1.jpeg' %}" class="w-100 h-100 shadow-1-strong rounded mb-4 "
                    alt="Boat on Calm Water" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="{% static 'images/gallery2.jpeg' %}" class="w-100 h-100  shadow-1-strong rounded mb-4"
                    alt="Mountains in the Clouds" />
            </div>

            <div class="col-lg-4  mb-lg-0">
                <img src="{% static 'images/gallery3.jpeg' %}" class="w-100 h-100 shadow-1-strong rounded mb-4"
                    alt="Waves at Sea" />
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-lg-4  mb-4 mb-lg-0">
                <img src="{% static 'images/gallery3.jpeg' %}" class="w-100 h-100 shadow-1-strong rounded mb-4 "
                    alt="Boat on Calm Water" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="{% static 'images/gallery1.jpeg' %}" class="w-100 h-100  shadow-1-strong rounded mb-4"
                    alt="Mountains in the Clouds" />
            </div>

            <div class="col-lg-4  mb-lg-0">
                <img src="{% static 'images/gallery2.jpeg' %}" class="w-100 h-100 shadow-1-strong rounded mb-4"
                    alt="Waves at Sea" />
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-lg-4  mb-4 mb-lg-0">
                <img src="{% static 'images/gallery2.jpeg' %}" class="w-100 h-100 shadow-1-strong rounded mb-4 "
                    alt="Boat on Calm Water" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="{% static 'images/gallery1.jpeg' %}" class="w-100 h-100  shadow-1-strong rounded mb-4"
                    alt="Mountains in the Clouds" />
            </div>

            <div class="col-lg-4  mb-lg-0">
                <img src="{% static 'images/gallery3.jpeg' %}" class="w-100 h-100 shadow-1-strong rounded mb-4"
                    alt="Waves at Sea" />
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-lg-4  mb-4 mb-lg-0">
                <img src="{% static 'images/gallery1.jpeg' %}" class="w-100 h-100 shadow-1-strong rounded mb-4 "
                    alt="Boat on Calm Water" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="{% static 'images/gallery1.jpeg' %}" class="w-100 h-100  shadow-1-strong rounded mb-4"
                    alt="Mountains in the Clouds" />
            </div>

            <div class="col-lg-4 mb-lg-0">
                <img src="{% static 'images/gallery1.jpeg' %}" class="w-100 h-100 shadow-1-strong rounded mb-4"
                    alt="Waves at Sea" />
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-lg-4  mb-4 mb-lg-0">
                <img src="{% static 'images/gallery1.jpeg' %}" class="w-100 h-100 shadow-1-strong rounded mb-4 "
                    alt="Boat on Calm Water" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="{% static 'images/gallery1.jpeg' %}" class="w-100 h-100  shadow-1-strong rounded mb-4"
                    alt="Mountains in the Clouds" />
            </div>

            <div class="col-lg-4 mb-lg-0">
                <img src="{% static 'images/gallery1.jpeg' %}" class="w-100 h-100 shadow-1-strong rounded mb-4"
                    alt="Waves at Sea" />
            </div>
        </div>
        <!-- Gallery -->
    </div>
</section>
<!-- gallery end -->

{% endblock page_content %}