{% extends 'blog/base.html' %}

{% load static %}

{% block page_title %}

{% endblock page_title %}

{% block page_content %}

<!-- gallery  start-->
<section class="gallery my-5 h-100" id="/gallery">
    <div class="container-fluid">
        <div class="text-center my-5">
            <h1 data-aos="fade-up" data-aos-offset="200">School <span class="text-primary">Gallery</span></h1>
            <hr class="w-25 m-auto" />
        </div>
        <div class="row mb-4">
            {% for photo in images_page %}
            <div class="col-lg-4  mb-4">
                <img src="/media/{{photo.gallery_image}}" class="w-100 h-100 shadow-1-strong rounded mb-4"
                    alt="image" />
            </div>
            {% endfor %}
        </div>
        <!-- Pagination controls -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if images_page.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ images_page.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for num in images_page.paginator.page_range %}
                <li class="page-item {% if num == images_page.number %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
                {% endfor %}
                {% if images_page.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ images_page.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>

    </div>
</section>
<!-- gallery end -->

{% endblock page_content %}