  <nav class="navbar navbar-expand-lg fixed-top custom_nav">
    <div class="container">
      <a class="navbar-brand" href="/">
        YouMe Khotang
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex ms-auto mt-3 mt-lg-0" role="search" method="get" 
            action="{% url 'search' %}">
          <input class="form-control me-2 rounded-pill" type="search" placeholder="Search" aria-label="Search" name="query" id="query">
         
         <!--  <button class="btn btn-outline-success" type="submit">Search</button> -->
        </form>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog_index' %}">BLog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact </a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>


  